**/*.pyc
**/*.egg-info/
**/*~
src/pysonata/sonata/tests/tmp
.idea
.cache
**/mechanisms/x86_64
/examples/300_intfire/output/config.json
/examples/300_intfire/output/log.txt
/examples/small_iclamp/output/config.json
/examples/small_iclamp/output/log.txt
/examples/small_iclamp/output/membrane_potential.h5
/examples/small_iclamp/output/spikes.h5
/examples/small_intfire/output/config.json
/examples/small_intfire/output/log.txt
/examples/small_intfire/output/membrane_potential.h5
/examples/small_intfire/output/spikes.h5
